includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/calebdw/larastan-livewire/extension.neon

parameters:
    level: 5

    paths:
        - app/
        - database/
        - routes/
        - config/
        - tests/

    # Level 5 is a good starting point
    # level: 5

    # Optional: Ignore specific errors or paths if needed
    # ignoreErrors:
    #     - '#Call to an undefined method.*#'
    # excludePaths:
    #     - ./*/*/File_/*.php

    # Optional: Specify PHP version if not automatically detected
    # phpVersion: 80200 